[MASTER]
load-plugins=pylint_django, pylint_celery
django-settings-module=config.settings.local
ignore=migrations, tests

[FORMAT]
max-line-length=120

[DESIGN]
max-parents=13

[TYPECHECK]
generated-members=REQUEST,acl_users,aq_parent,"[a-zA-Z]+_set{1,2}",save,delete

[SIMILARITIES]
# Ignore imports when computing similarities.
ignore-imports=yes
