volumes:
  production_postgres_data:
  production_postgres_data_backups:
  production_traefik:
  production_django_media:

networks:
  frontend:
  backend:
  metrics:

services:
  django: &django
    build:
      context: .
      dockerfile: ./compose/production/django/Dockerfile
    image: democrasite_production_django
    volumes:
      - production_django_media:/app/democrasite/media
    networks:
      - frontend
      - backend
      - metrics
    depends_on:
      - postgres
      - redis
    env_file:
      - ./.envs/.production/.django
      - ./.envs/.production/.postgres
    command: /start
    deploy:
      resources:
        limits:
          cpus: "0.2"
          memory: 500M

  postgres:
    build:
      context: .
      dockerfile: ./compose/production/postgres/Dockerfile
    image: democrasite_production_postgres
    volumes:
      - production_postgres_data:/var/lib/postgresql/data
      - production_postgres_data_backups:/backups
    networks:
      - backend
    env_file:
      - ./.envs/.production/.postgres
    deploy:
      resources:
        limits:
          cpus: "0.2"
          memory: 300M

  traefik:
    build:
      context: .
      dockerfile: ./compose/production/traefik/Dockerfile
    image: democrasite_production_traefik
    depends_on:
      - django
    volumes:
      - production_traefik:/etc/traefik/acme
    ports:
      - "0.0.0.0:80:80"
      - "0.0.0.0:443:443"
      - "0.0.0.0:5555:5555"
    networks:
      - frontend
    deploy:
      resources:
        limits:
          cpus: "0.1"
          memory: 100M

  redis:
    image: docker.io/redis:6
    networks:
      - backend

  celeryworker:
    <<: *django
    image: democrasite_production_celeryworker
    networks:
      - backend
    command: /start-celeryworker

  celerybeat:
    <<: *django
    image: democrasite_production_celerybeat
    networks:
      - backend
    command: /start-celerybeat

  flower:
    <<: *django
    image: democrasite_production_flower
    networks:
      - backend
      - frontend
    command: /start-flower

  nginx:
    build:
      context: .
      dockerfile: ./compose/production/nginx/Dockerfile
    image: democrasite_local_nginx
    depends_on:
      - django
    volumes:
      - production_django_media:/usr/share/nginx/media:ro
    networks:
      - frontend
    deploy:
      resources:
        limits:
          cpus: "0.1"
          memory: 100M
