volumes:
  democrasite_local_postgres_data:
  democrasite_local_postgres_data_backups:
  democrasite_local_metrics_data:

x-logging: &loki-logging
  driver: loki
  options:
    loki-url: "http://localhost:3100/loki/api/v1/push"
    mode: non-blocking # doesn't seem to work :(
    # see https://grafana.com/docs/loki/latest/send-data/docker-driver/#known-issue-deadlocked-docker-daemon
    loki-retries: 2
    loki-max-backoff: 800ms
    loki-timeout: 1s

services:
  django: &django
    build:
      context: .
      dockerfile: ./compose/local/django/Dockerfile
    image: democrasite_local_django
    container_name: democrasite-local-django
    depends_on:
      - postgres
    volumes:
      - .:/app:z
    env_file:
      - ./.envs/.local/.django
      - ./.envs/.local/.postgres
    ports:
      - "8000:8000"
    command: /start
    healthcheck:
      test: "curl --fail --silent --write-out 'STATUS %{http_code}' --output /dev/null http://localhost:8000/"
      timeout: 5s
      start_period: 30s
    logging: *loki-logging

  postgres:
    build:
      context: .
      dockerfile: ./compose/production/postgres/Dockerfile
    image: democrasite_production_postgres
    container_name: democrasite-local-postgres
    volumes:
      - democrasite_local_postgres_data:/var/lib/postgresql/data
      - democrasite_local_postgres_data_backups:/backups
    env_file:
      - ./.envs/.local/.postgres
    logging: *loki-logging

  docs:
    build:
      context: .
      dockerfile: ./compose/local/django/Dockerfile
    image: democrasite_local_docs
    container_name: democrasite-local-docs
    volumes:
      - .:/app:z
    ports:
      - "9000:9000"
    command: /start-docs
    entrypoint: "/bin/bash -c" # overwrite default
    logging: *loki-logging

  redis:
    image: docker.io/redis:6
    container_name: democrasite-local-redis
    logging: *loki-logging

  celeryworker: &celery
    <<: *django
    image: democrasite_local_celeryworker
    container_name: democrasite-local-celeryworker
    depends_on:
      - redis
      - postgres
    ports: []
    command: /start-celeryworker
    healthcheck: {}
    logging: *loki-logging

  celerybeat:
    <<: *celery
    image: democrasite_local_celerybeat
    container_name: democrasite-local-celerybeat
    command: /start-celerybeat
    logging: *loki-logging

  flower:
    <<: *celery
    image: democrasite_local_flower
    container_name: democrasite-local-flower
    ports:
      - "5555:5555"
    command: /start-flower
    logging: *loki-logging

  metrics:
    image: grafana/otel-lgtm:0.17.0
    container_name: democrasite-local-metrics
    ports:
      - "3000:3000"
      - "3100:3100" # loki
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    volumes:
      - ./compose/local/grafana/prometheus.yml:/otel-lgtm/prometheus.yaml
      - democrasite_local_metrics_data:/data
    logging: *loki-logging
