{% extends "webiscite/bill_list.html" %}

{% load i18n static %}

{% block sub_title %}
  {% trans 'User' %}: {{ user.username }}
{% endblock sub_title %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>{{ user.username }}</h2>
        {% if user.name %}<p>{{ user.name }}</p>{% endif %}
      </div>
    </div>
    {% if user == request.user %}
      <div class="row mb-4">
        <div class="col-sm-12">
          <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">{% trans "My Info" %}</a>
        </div>
      </div>
    {% endif %}

    {% with bill_list=user.bill_set.all %}{{ block.super }}{% endwith %}
  </div>
{% endblock content %}
