{% extends 'base.html' %}

{% load i18n static %}

{% block nav_user_pages %}
  <li class="nav-item">
    {# URL provided by django-allauth/account/urls.py #}
    {% url 'users:detail' request.user.username as url_profile %}
    <a href="{{ url_profile }}"
       class="nav-link
              {% if request.path == url_profile %}active{% endif %}">{% trans 'Profile' %}</a>
  </li>
  {# lazy way to check if user is logged in with github #}
  {% for provider in socialaccount_providers %}
    {% if provider.id == 'github' %}
      <li class="nav-item">
        {% url 'webiscite:my-bills' as url_proposals %}
        <a href="{{ url_proposals }}"
           class="nav-link
                  {% if request.path == url_proposals %}active{% endif %}">{% trans 'Proposals' %}</a>
      </li>
    {% endif %}
  {% endfor %}
  <li class="nav-item">
    {% url 'webiscite:my-bill-votes' as url_my_votes %}
    <a href="{{ url_my_votes }}"
       class="nav-link
              {% if request.path == url_my_votes %}active{% endif %}">{% trans 'Votes Cast' %}</a>
  </li>
{% endblock nav_user_pages %}

{% block extra_css %}
  <link href="{% static 'css/webiscite.css' %}" rel="stylesheet" />
{% endblock extra_css %}
