{% extends 'webiscite/base.html' %}

{% load i18n static %}

{% block sub_title %}
  {{ bill.name }}
{% endblock sub_title %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>{{ bill }}</h2>
        {% if bill.constitutional %}
          <p class="text-info mb-1">{% trans 'Amendment to the Constitution' %}</p>
        {% endif %}
        {% if bill.status != bill.Status.OPEN %}
          <p class="{% if bill.status == bill.Status.APPROVED %}
                      text-success
                    {% else %}
                      text-danger
                    {% endif %}
                    my-1">{{ bill.get_status_display }}</p>
        {% endif %}
        <p>
          Submitted by: <a href="{% url 'users:detail' bill.author.username %}">{{ bill.author.username }}</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          {{ bill.description }}
          {% if bill.author == user and bill.status == bill.Status.OPEN %}
            <a href="{{ bill.get_update_url }}">
              <i class="bi bi-pencil-square"></i>
            </a>
          {% endif %}
        </p>
        <a class="link-underline link-underline-opacity-0"
           href="{{ bill.pull_request.diff_url }}"
           target="_blank">
          Diff:
          <span class="text-success">+{{ bill.pull_request.additions }}</span>
          <span class="text-danger">-{{ bill.pull_request.deletions }}</span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-3
                  {% if bill.status != bill.Status.OPEN %}inactive{% endif %}">{% include 'webiscite/snippets/vote.html' %}</div>
    </div>
  </div>
{% endblock content %}

{% block inline_javascript %}
  {% if user.is_authenticated and bill.status == bill.Status.OPEN %}
    <script type="text/javascript" src="{% static 'js/vote.js' %}"></script>
  {% endif %}
{% endblock inline_javascript %}
