{% extends 'webiscite/base.html' %}

{% load i18n static %}

{% block sub_title %}
  {{ title }}
{% endblock sub_title %}
{% block content %}
  {% for bill in bill_list %}
    {% if forloop.counter0|divisibleby:4 %}<div class="row">{% endif %}
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card text-center mb-4
                    {% if bill.constitutional %}bg-body-tertiary{% endif %}">
          <div class="card-body
                      {% if bill.status != bill.Status.OPEN %}inactive{% endif %}">
            <a class="card-link link-underline link-underline-opacity-0"
               href="{{ bill.get_absolute_url }}">
              <h5 class="card-title">{{ bill }}</h5>
            </a>
            {% if bill.constitutional %}
              <a class="card-link link-underline link-underline-opacity-0"
                 href="{% url 'about' %}#constitution">
                <span class="text-info mb-1">{% trans 'Amendment to the Constitution' %}</span>
              </a>
            {% endif %}
            {% if bill.status != bill.Status.OPEN %}
              <p class="{% if bill.status == bill.Status.APPROVED %}
                          text-success
                        {% elif bill.status == bill.Status.DRAFT %}
                          text-secondary
                        {% else %}
                          text-danger
                        {% endif %}
                        my-1">{{ bill.get_status_display }}</p>
            {% endif %}
            <p>
              Submitted by: <a href="{% url 'users:detail' bill.author.username %}">{{ bill.author.username }}</a>
            </p>
            <hr />
            <div data-nosnippet class="card-text">{{ bill.description|truncatechars:120 }}</div>
            <div class="card-text text-start">
              <a class="card-link link-underline link-underline-opacity-0"
                 href="{{ bill.pull_request.diff_link }}"
                 target="_blank">
                <span class="text-success">+{{ bill.pull_request.additions }}</span>
                <span class="text-danger">-{{ bill.pull_request.deletions }}</span>
              </a>
            </div>
            {% include 'webiscite/snippets/vote.html' %}
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:4 or forloop.last %}</div>{% endif %}
  {% empty %}
    <div class="text-center">
      <h5 class="mb-1">{{ empty_message }}</h5>
    </div>
  {% endfor %}
{% endblock content %}

{% block inline_javascript %}
  {% if user.is_authenticated %}
    <script type="text/javascript" src="{% static 'js/vote.js' %}"></script>
  {% endif %}
{% endblock inline_javascript %}
