{% extends "activitypub/base.html" %}

{% block sub_title %}
  {{ person.display_name }}
{% endblock sub_title %}

{% block activitypub_content %}
  <div class="row justify-content-center mb-3">
    <div class="col-8">
      <h2>{{ person.display_name }}</h2>
      <p>
        {{ person.bio }}
        {% if user == person.user %}
          <a href="{% url 'activitypub:person-update' %}">
            <i class="bi bi-pencil-square"></i> Edit Bio
          </a>
        {% endif %}
      </p>
      <small>Joined on: {{ person.created|date:"Y-m-d H:i" }}</small>
    </div>
  </div>

  {% include "activitypub/snippets/note_list.html" with note_list=note_list empty_message="This user hasn't posted anything yet." %}

{% endblock activitypub_content %}
