{% load i18n %}

<div class="progress">
  <div class="progress-bar bg-success"
       role="progressbar"
       style="width: {{ bill.yes_percent }}%"></div>
  <div class="progress-bar bg-danger"
       role="progressbar"
       style="width: {{ bill.no_percent }}%"></div>
</div>
{# If the user is logged in then add vote-enabling logic, otherwise add a "log in to vote" popup #}
<a href="javascript:;"
   class="float-left text-success mt-2 vote
          {% if user in bill.yes_votes.all %}font-weight-bold{% endif %}"
   {% if bill.status == bill.Status.OPEN %}
     {% if user.is_authenticated %}
       id="vote-yes-{{ bill.id }}" action="{{ bill.get_vote_url }}" value="vote-yes"
     {% else %}
       data-toggle="tooltip" data-placement="bottom" title="Log in to vote" data-trigger="click"
     {% endif %}
   {% endif %}>
  ✓ {% trans 'Yes' %}: <span class="num-yes-votes" id="num-vote-yes-{{ bill.id }}">{{ bill.yes_votes.count }}</span>
</a>
<a href="javascript:;"
   class="float-right text-danger mt-2 vote
          {% if user in bill.no_votes.all %}font-weight-bold{% endif %}"
   {% if bill.status == bill.Status.OPEN %}
     {% if user.is_authenticated %}
       id="vote-no-{{ bill.id }}" action="{{ bill.get_vote_url }}" value="vote-no"
     {% else %}
       data-toggle="tooltip" data-placement="bottom" title="{% trans 'Log in to vote' %}" data-trigger="click"
     {% endif %}
   {% endif %}>
  X {% trans 'No' %}: <span class="num-no-votes" id="num-vote-no-{{ bill.id }}">{{ bill.no_votes.count }}</span>
</a>
