body {
  margin-bottom: 20px;
}

.navbar-nav .dropdown-menu {
  min-width: 10px;
}

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.icon-link > .bi {
  box-sizing: content-box;
}
