{% load static i18n socialaccount %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Democrasite{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A website which automatically incorporates changes from users based on popular approval">
    <meta name="author" content="Matthew Foster Walsh">
    <meta name="google-site-verification" content="B7IAH2JHzzr3L40rxXcl-mITWAod6ud_1rOWTh-taHA" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />

    {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Your stuff: Third-party CSS libraries go here -->
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock css %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap JS and its dependencies-->
      <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      <!-- Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>

    {% endblock javascript %}
    {% block extra_head %}
    {% endblock extra_head %}

  </head>

  <body>
    <div class="mb-1">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-supported-content" aria-controls="navbar-supported-content" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'webiscite:index' %}">Democrasite</a>

        {% block navbar %}
          {% get_providers as socialaccount_providers %}
          <div class="collapse navbar-collapse" id="navbar-supported-content">
            <ul class="navbar-nav mr-auto">
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a class="nav-link" href="{% url 'users:detail' request.user.username %}">{% trans 'Profile' %}</a>
                </li>
                {# lazy way to check if user is logged in with github #}
                {% for provider in socialaccount_providers %}
                  {% if provider.id == 'github' %}
                    <li class="nav-item">
                      <a href="{% url 'webiscite:my-bills' %}" class="nav-link">{% trans 'Proposals' %}</a>
                    </li>
                  {% endif %}
                {% endfor %}
                <li class="nav-item">
                  <a href="{% url 'webiscite:my-bill-votes' %}" class="nav-link">{% trans 'Votes Cast' %}</a>
                </li>
                <li class="nav-item">
                  {# For security, we use POST to log the user out #}
                  <form id="logout-form" action="{% url 'account_logout' %}?next={{ request.path }}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}" />
                    <button type="submit" class="btn nav-link">{% trans 'Log out' %}</button>
                  </form>
                </li>
              {% else %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="login-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans 'Log in' %}
                  </a>
                  <div class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="login-dropdown">
                    {% for provider in socialaccount_providers %}
                    {# For security, we use POST to log the user in #}
                      <form action="{% provider_login_url provider.id next=request.path %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}" />
                        <button type="submit" class="dropdown-item px-3 socialaccount_provider {{ provider.id }}">{{ provider.name }}</button>
                      </form>
                    {% endfor %}
                  </div>
                </li>
              {% endif %}
            </ul>
          </div>
        {% endblock navbar %}

      </nav>
    </div>

    <div class="container">

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button></div>
          {% endfor %}
      {% endif %}

      {% block content %}
        <p>{% blocktrans %} This page is blank, but it probably shouldn't be. Please create an issue on <a href="https://github.com/{{ github_repo }}" target="_blank">Github</a>.{% endblocktrans %}</p>
      {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    <footer class="footer fixed-bottom">
      {% block footer %}
        <div class="container">
          <div class="text-center">
            {% if request.resolver_match.url_name == 'index' %}
              <a href="{% url 'about' %}">{% trans 'About' %}</a>
              |
              <a href="https://github.com/{{ github_repo }}" target="_blank">Github</a>
            {% else %}
              <a href="{% url 'webiscite:index' %}">{% trans 'Home' %}</a>
            {% endif %}
          </div>
        </div>
      {% endblock footer %}
    </footer>

    {% block inline_javascript %}
      {# Script tags with only code, no src (defer by default) #}
    {% endblock inline_javascript %}
  </body>
</html>
