{# Base for forum pages (the MACHINA_BASE_TEMPLATE was not customizeable enough) #}
{% extends "base.html" %}

{% load static i18n forum_permission_tags socialaccount %}

{% block title %}
  {{ MACHINA_FORUM_NAME|default:"Forum" }} —
  {% block sub_title %}
  {% endblock sub_title %}
{% endblock title %}
{% block css %}
  {{ block.super }}
  <link rel="stylesheet"
        href="{% static 'css/machina.board_theme.vendor.min.css' %}" />
  <link rel="stylesheet"
        href="{% static 'css/machina.board_theme.min.css' %}" />
{% endblock css %}
{% block navbar %}
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {% block nav_brand %}
    <a class="navbar-brand" href="{% url 'forum:index' %}">{{ MACHINA_FORUM_NAME|default:"My forum" }}</a>
  {% endblock nav_brand %}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="{% url 'webiscite:index' %}" class="nav-link">{% trans 'Home' %}</a>
      </li>
      {% block nav_authentication %}
        {% get_providers as socialaccount_providers %}
        {{ block.super }}
      {% endblock nav_authentication %}
    </ul>
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="{% url 'forum_search:search' %}">{% trans "Advanced search" %}</a>
    </div>
    <form class="form-inline my-2 ml-3 my-lg-0"
          role="search"
          action="{% url 'forum_search:search' %}">
      <input class="form-control mr-sm-2"
             type="search"
             placeholder="Search"
             aria-label="Search"
             name="q" />
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">{% trans "Search" %}</button>
    </form>
  </div>
{% endblock navbar %}
{% block extra_header %}
  <div class="row">
    <div class="col-12">
      {% block breadcrumb %}
        {% include "partials/breadcrumb.html" %}
      {% endblock breadcrumb %}
      <div class="float-right controls-link-wrapper">
        {% spaceless %}
          {% if not request.user.is_anonymous %}
            <a href=" {% url 'forum_member:user_subscriptions' %} "
               class="d-inline-block ml-3">
              <i class="fas fa-bookmark">&nbsp;</i>
              {% trans "Subscriptions" %}
            </a>
            <a href=" {% url 'forum_member:user_posts' request.user.id %} "
               class="d-inline-block ml-3">
              <i class="fas fa-comments">&nbsp;</i>
              {% trans "View my posts" %}
            </a>
          {% endif %}
          {% get_permission 'can_access_moderation_queue' request.user as can_access_moderation_queue %}
          {% if can_access_moderation_queue %}
            <a href=" {% url 'forum_moderation:queue' %} "
               class="d-inline-block ml-3">
              <i class="fas fa-gavel">&nbsp;</i>
              {% trans "Moderation queue" %}
            </a>
          {% endif %}
        {% endspaceless %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <br />
      {% block messages %}
        {{ block.super }}
      {% endblock messages %}
    </div>
  </div>
{% endblock extra_header %}
{% block js %}
  {{ block.super }}
  <script src="{% static 'js/machina.packages.min.js' %}"
          type="text/javascript"
          charset="utf-8"></script>
  <script src="{% static 'js/machina.min.js' %}"
          type="text/javascript"
          charset="utf-8"></script>
  <script type="text/javascript">
    $(function() {
      machina.init();
      {% block onbodyload %} {% endblock onbodyload %}
    });
  </script>
{% endblock js %}
